# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ARVS/CameraCalibration/Debug
/ARVS/CameraCalibration/Release
/ARVS/ARVSMain/Debug
/ARVS/ARVSMain/Release
/ARVS/GeneralFunctions/Debug
/ARVS/HandPointsProvider/Debug
/ARVS/MathLibrary/Debug
